@model BooksEntity

<h2>Edit Book</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
    </div>
    <div>
        <label asp-for="Author"></label>
        <input asp-for="Author" />
    </div>
    <div>
        <label asp-for="ISBN"></label>
        <input asp-for="ISBN" />
    </div>
    <button type="submit">Save</button>
    <a asp-action="Index">Cancel</a>
</form>
